SkillsAndTasksWebPageWcfConsumer/Service References/Service/MBService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://127.0.0.1/MBService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SkillsAndTasks" />
  <xs:element name="createAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SkillsAndTasks" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SkillsAndTasks" minOccurs="0" name="createAccountResult" nillable="true" type="q2:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SkillsAndTasks" minOccurs="0" name="skill" nillable="true" type="q3:Skill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SkillsAndTasks" minOccurs="0" name="createSkillResult" nillable="true" type="q4:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SkillsAndTasks" minOccurs="0" name="deleteSkillResult" nillable="true" type="q5:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SkillsAndTasks" minOccurs="0" name="skill" nillable="true" type="q6:Skill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SkillsAndTasks" minOccurs="0" name="updateSkillResult" nillable="true" type="q7:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SkillsAndTasks" minOccurs="0" name="task" nillable="true" type="q8:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SkillsAndTasks" minOccurs="0" name="createTaskResult" nillable="true" type="q9:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SkillsAndTasks" minOccurs="0" name="deleteTaskResult" nillable="true" type="q10:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SkillsAndTasks" minOccurs="0" name="task" nillable="true" type="q11:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SkillsAndTasks" minOccurs="0" name="updateTaskResult" nillable="true" type="q12:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createUserSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SkillsAndTasks" minOccurs="0" name="us" nillable="true" type="q13:UserSkill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createUserSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SkillsAndTasks" minOccurs="0" name="createUserSkillResult" nillable="true" type="q14:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUserSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUserSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SkillsAndTasks" minOccurs="0" name="deleteUserSkillResult" nillable="true" type="q15:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SkillsAndTasks" minOccurs="0" name="us" nillable="true" type="q16:UserSkill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SkillsAndTasks" minOccurs="0" name="updateUserSkillResult" nillable="true" type="q17:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SkillsAndTasks" minOccurs="0" name="loginExistsResult" nillable="true" type="q18:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="activateByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="activateByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SkillsAndTasks" minOccurs="0" name="activateByCodeResult" nillable="true" type="q19:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SkillsAndTasks" minOccurs="0" name="loginResult" nillable="true" type="q20:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDatabase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SkillsAndTasks" minOccurs="0" name="getDatabaseResult" nillable="true" type="q21:DatabaseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>